:root {
  /* Primary */
  --P1: #8aabff;
  --P2: #2260ff;
  --P3: #0035bd;

  /* SUB */
  --S1: #ffc9b3;
  --S2: #ff824d;
  --S3: #e54500;

  /* Neutral */
  --N10: #f7f7f8;
  --N20: #e1e2e4;
  --N30: #a5a6ac;
  --N40: #62636a;
  --N50: #313235;

  /* System */
  --ERROR: #f05252;
  --POSITIVE: #57ac6d;
  --BLACK: #000000;
  --WHITE: #ffffff;
}

* {
  font-family: 'Pretendard';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
}
